{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.pictureFile) }}
{{ form_row(form.intoAlbum) }}

<button class="btn btn-success">
	<i class="fas fa-check"></i>
</button>
{{ form_end(form) }}
