{% extends 'base.html.twig' %}

{% block title %}Photo index
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div>
				<h1>All Pic
					<a class="btn btn-light" href="{{ path('photo_new') }}">Add Pic</a>
				</h1>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Picbook</th>
						<th>Pic</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for photo in photos %}
						<tr>
							<td>{{ photo.intoAlbum.name }}</td>

							<td><img style=" width: 100px;" src="{{ asset ('photos/pictures/' ~ photo.name )}}" alt="" srcset=""></td>
							<td>{{ photo.name }}</td>
							<td>
								<a href="{{ path('photo_show', {'id': photo.id}) }}">Voir</a>
								<button class="btn btn-warning" href="{{ path('photo_edit', {'id': photo.id}) }}">
									<i class="fas fa-edit"></i>
								</button>
								{{ include('photo/_delete_form.html.twig') }}

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
