{% extends 'base.html.twig' %}

{% block title %}Album index
{% endblock %}

{% block body %}
<div class="py-5">
	<div class="container">
		<h2>Album index</h2>
		<a href="{{ path('album_new') }}">Create new</a>
		<div class="row">

			{% for album in albums %}
				<div class="col-3 my-3">
					<div class="card">
						<h3>{{ album.name }}</h3>
						<p>{{ album.createAt ? album.createAt|date('Y-m-d H:i:s') : '' }}</p>
						<p>{{ album.updateAt ? album.updateAt|date('Y-m-d H:i:s') : '' }}</p>

						<a href="{{ path('album_show', {'id': album.id}) }}">show</a>
						<a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>

					</div>
				</div>
				{% else %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
