{% extends 'base.html.twig' %}

{% block title %}Album index
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h2>Album index</h2>
		<a class="badge badge-warning" href="{{ path('album_new') }}">Ajouter un album</a>
		{% block albums %}
			<div class="row flex-column flex-md-row">

				<nav class="col-3 nav flex-column bg-light">
					{% for album in albums %}
						{# <h3>{{ album.name }}</h3> #}
						<div>
							<a class="d-inline-flex nav-link" aria-current="page" href="{{ path('album_show', {'id': album.id}) }}">{{ album.name }}</a>
							<a class="badge" href="{{ path('album_edit', {'id': album.id}) }}">
								<i class="fas fa-edit"></i>
							</a>
						</div>
					{% endfor %}
				</nav>
				<div class="col-9 bg-dark row justify-content-center">
					{% for p in album.photos %}
						<div class="col-6 col-md-3 col-lg-2 m-2" style="height : 200px ; width: 200px;">
							<img class="w-75 rounded" src="{{ asset ('photos/' ~ p.name ~ '.jpeg' ) }}" alt="">
							<p>{{p.name}}</p>
						</div>

					{% endfor %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
