<nav class="navbar navbar-expand-lg navbar-light shadow-sm sticky-top bg-white">

	<a class="navbar-brand d-flex align-items-end" href="#">
		<a class="brand" href="{{ path('album_index') }}">
			<span class="line rounded-circle mx-2"></span>
			<span class="brand-anim ">Picost</span>
		</a>
	</a>

	<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link active" aria-current="page" href=" {{ path ('album_index')}} ">Picbook</a>
			<a class="nav-link" href=" {{ path ('photo_index')}} ">All Pic</a>
			<a class="nav-link" href="{{ path ('about_picost')}}">About Picost</a>


			{% if is_granted('ROLE_ADMIN') %}
				<a class="nav-link" href="{{ path ('admin_users')}}">
					<i class="fas fa-users-cog"></i>
					Manage Users
				</a>
				<a class="nav-link" href="{{ path ('app_logout')}}">Logout</a>
				<a class="nav-link disabled" href="{{ path ('app_logout')}}">Connected as Admin</a>

			{% elseif is_granted('ROLE_CONSUMER') %}
				<a class="nav-link" href="{{ path ('app_logout')}}">Logout</a>
				<a class="nav-link disabled" href="{{ path ('app_logout')}}">Welcome
					{{app.user.login}}
					{# {{dump(app.user)}} #}
				</a>
			{% else %}
				<a class="nav-link" href="{{ path ('app_login')}}">Login</a>
			{% endif %}
		</div>
	</div>
</nav>
